{% extends "index.liquid" %}

{% block head %}
<title>Today's Picture</title>
{% endblock %}

{% block content -%}
<p>{{ model.title }}</p>
<img src="{{ model.href }}" title="{{ model.title }}" width="100%" />
{%- endblock -%}