<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  <script src="/js/index.js"></script>
  <!--
    More dotLiquid details at http://dotliquidmarkup.org/
    ...and: http://liquidmarkup.org/
  -->
  {% block head %}
  {% endblock -%}
</head>
<body>
  {% block content %}{% endblock -%}
</body>
</html>